<script type="text/javascript">
    RED.nodes.registerType('aggregator', {
        category: 'analysis',
        color: '#E2D96E',
        defaults: {
            name: { value: "" },
            topic: { value: "" },
            "intervalCount": { value: 1, required: true, validate: RED.validators.number() },
            "intervalUnits": { value: "h", required: true },
            intervalPeriod: {value: "from input", required: true},
            submitIncompleteInterval: { value: true },
            aggregationType: { value: "mean", required: true },
            funcParameter: { value: 0 }
        },
        inputs: 1,
        outputs: 1,
        icon: "arrow-in.png",
        label: function() {
            return this.name || "aggregator";
        },
        oneditprepare: function() {
            let node = this;
            let previous = null;
            let aggregationType = $("#node-input-aggregationType");
            let funcParameter = $("#node-inputs-funcParameter");
            let intervalPeriod = $("#node-input-intervalPeriod");
            let previousPeriod = null;
            let precalcInterval = $("#inject-time-row-interval");
            
            aggregationType.on('focus', function () {
                previous = this.value;
            }).change(function() {
                if (previous == null) {
                    previous = $("#node-input-aggregationType").val();
                }
                switch (aggregationType.val()) {
                    case 'count':
                    case 'min':
                    case 'minSorted':
                    case 'max':
                    case 'maxSorted':
                    case 'sum':
                    case 'sumSimple':
                    case 'product':
                    case 'mean':
                    case 'harmonicMean':
                    case 'geometricMean':
                    case 'rootMeanSquare':
                    case 'mode':
                    case 'modeSorted':
                    case 'uniqueCount':
                    case 'uniqueCountSorted':
                    case 'median':
                    case 'medianSorted':
                    case 'sampleSkewness':
                    case 'variance':
                    case 'sampleVariance':
                    case 'standardDeviation':
                    case 'sampleStandardDeviation':
                    case 'medianAbsoluteDeviation':
                    case 'interquartileRange':
                    case 'shuffle':
                    case 'shuffleInPlace':
                    case 'permutationsHeap':
                    default:
                        funcParameter.hide();
                        break;
                    case 'quantile':
                    case 'quantileSorted':
                    case 'sumNthPowerDeviations':
                    case 'sampleCorrelation':
                    case 'sampleCovariance':
                    case 'sample':
                    case 'tTest':
                    case 'ckmeans':
                    case 'equalIntervalBreaks':
                    case 'chunk':
                    case 'combinations':
                    case 'combinationsReplacement':
                    case 'rSquared':
                        funcParameter.show();
                        break;
                }
            });

            intervalPeriod.on('focus', function() {
                previousPeriod = this.value;
            }).change(function () {
                if (previousPeriod == null) {
                    previousPeriod = $("#node-input-intervalPeriod").val();
                }
                switch (intervalPeriod.val()) {
                    case "from input":
                    default:
                        precalcInterval.hide();
                        break;
                    case "single":
                        precalcInterval.show();
                        break;
                }
            });
        }
    });
</script>

<script type="text/x-red" data-template-name="aggregator">
    <div class="form-row">
        <label for="node-input-aggregationType"><i class="fa fa-dot-circle-o"></i> Aggregate by</label>
        <select style="width: 70%" id="node-input-aggregationType">
            <option value="count">Count value</option>
            <!-- functions with 0 parameter and data-->
            <option value="min">Minimum value</option>
            <option value="minSorted">Minimum value(sorted input)</option>
            <option value="max">Maximum value</option>
            <option value="maxSorted">Maximum value(sorted input)</option>
            <option value="sum">Sum value</option>
            <option value="sumSimple">Simple sum value</option>
            <option value="product">Product (multiply) value</option>
            <option value="mean">Mean value (Average)</option>
            <option value="harmonicMean">Harmonic mean value</option>
            <option value="geometricMean">Geometric mean value</option>
            <option value="rootMeanSquare">Root Mean Square (RMS)</option>
            <option value="mode">Highest number of times</option>
            <option value="modeSorted">Highest number of times(sorted input)</option>
            <option value="uniqueCount">Unique count</option>
            <option value="uniqueCountSorted">Unique count (sorted input)</option>
            <option value="median">Median value</option>
            <option value="medianSorted">Median value(sorted input)</option>            
            <option value="sampleSkewness">Skewness</option>
            <option value="variance">Variance from mean</option>
            <option value="sampleVariance">Sample variance from mean (Bessel's Correction)</option>
            <option value="standardDeviation">Standard deviation</option>
            <option value="sampleStandardDeviation">Sample standard deviation</option>
            <option value="medianAbsoluteDeviation">Median absolute deviation</option>
            <option value="interquartileRange">Interquartile Range</option>
            <option value="shuffle">Shuffle</option>
            <option value="shuffleInPlace">Shuffle in place</option>            
            <option value="permutationsHeap">Permutations</option>
            
            <!-- functions with 1 parameter and data-->
            <option value="quantile">Quantile</option>
            <option value="quantileSorted">Quantile (sorted input)</option>
            <option value="sumNthPowerDeviations">Sum of Nth power deviations</option>
            <option value="sampleCorrelation">Sample correlation</option>
            <option value="sampleCovariance">Sample covariance</option>
            <option value="sample">Simple random sample</option>
            <option value="tTest">T-Test</option>
            <option value="ckmeans">CK means clustering</option>
            <option value="equalIntervalBreaks">Equal interval breaks</option>
            <option value="chunk">Chunk</option>
            <option value="combinations">Combinations</option>
            <option value="combinationsReplacement">Combinations replacement</option>
            <option value="rSquared">R-Square</option>

        </select>
    </div>
    <div class="form-row" id="node-inputs-funcParameter">
        <label for="node-input-funcParameter"><i class="icon-bookmark"></i> Function parameter </label>
        <input type="text" id="node-input-funcParameter" placeholder="1" style="max-width:120px">
    </div>
    <div class="form-row" id="node-inputs-interval-period">
        <label for="node-input-intervalPeriod">inteval</label>
        <select style="width: auto" id="node-input-intervalPeriod">
            <option value="single">constant</option>
            <option value="from input">from input</option>
        </select><br />       
    </div>
    <div class="form-row inject-time-row" id="inject-time-row-interval">
        <label for="node-input-intervalCount">every</label>
        <input id="node-input-intervalCount" class="inject-time-count" value="1"></input>
        <select style="width: 100px" id="node-input-intervalUnits">
            <option value="s" data-i18n="inject.seconds">seconds</option>
            <option value="m" data-i18n="inject.minutes">minutes</option>
            <option value="h" data-i18n="inject.hours">hours</option>
            <option value="d">days</option>
        </select><br />
    </div>
    <div class="form-row">
        <label style="width: auto" for="node-input-submitIncompleteInterval">Submit incomplete interval?</label></input>
        <input style="width: 50px" type="checkbox" id="node-input-submitIncompleteInterval">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="fa fa-tasks"></i> Topic</label>
        <input type="text" id="node-input-topic" style="width: 70%x">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="aggregator">
    <p>A node that combines multiple input messages over a time-span to one output message according to the specified aggregation method </p>
    <p>The aggregator stores the retrieved values per topic for the pending time span. He assumes that every topic has the same mightiness,
    regardless of how many values he retrieved per topic. Once the time span times out, this assumption leads to the following calculation of all retrieved values:
        <ol>
            <li>Aggregation of all retrieved values per topic by the defined aggregation method</li>
            <li>Aggregation of the aggregation results of each topic again by the defined aggregation method</li>
        </ol>
    </p>
    <p>topic and error handling:<br />
        <ol>
        <li>msg.topic is handled case insensitive (converted to LowerCase)</li>
        <li>if the msg.payload doesn't contain a number, the aggregator node raises an exception which can be caught with the Catch node</li>
        <li>every msg.interval received on input is used for calculation interval if from input is selected as interval period</li>
    </p>
</script>
